<footer>
  <div class="footer-content">
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="25px"
      fxLayoutAlign="center stretch"
      class="footer-bottom"
    >
      <div
        fxLayout="column"
        fxLayoutAlign="center stretch"
        fxFlex="25"
        fxFlex.sm="100"
        fxFlex.xs="100"
        class="footer-info"
      >
        <h3>Kövess be</h3>
        <a
          class="footer-text"
          href="https://www.instagram.com/webvibescreatives/"
          >Instagram</a
        >
        <a
          class="footer-text"
          href="https://www.facebook.com/profile.php?id=100088891504552"
          >Facebook</a
        >
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="center stretch"
        fxFlex="25"
        fxFlex.sm="100"
        fxFlex.xs="100"
        class="footer-info"
      >
        <h3>Hasznos</h3>
        <a class="footer-text" href="tarhely-segedlet.html"
          >Ingyenes segédlet</a
        >
        <a class="footer-text" href="blog.html">Blog</a>
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="center stretch"
        fxFlex="25"
        fxFlex.sm="100"
        fxFlex.xs="100"
        class="footer-info"
      >
        <h3>Jogi információk</h3>
        <a class="footer-text" routerLink="/impresszum">Impresszum</a>
        <a class="footer-text" routerLink="/adatkezelesi-tajekoztato"
          >Adatkezelési tájékoztató</a
        >
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="center stretch"
        fxFlex="25"
        fxFlex.sm="100"
        fxFlex.xs="100"
        class="footer-info"
      >
        <h3>Kapcsolat</h3>
        <div class="footer-text">
          <a href="mailto:info@webvibes.hu">info@webvibes.hu</a>
        </div>
        <div class="footer-text">2023 © Minden jog fenntartva</div>
      </div>
    </div>
  </div>
</footer>
