<section id="impresszum">
  <div>
    <h1>Impresszum</h1>
    <ul>
      <li>Név: Galgóczi Norbert E.V</li>
      <li>Székhely: 1074 Budapest, Rejtő jenő u. 4.</li>
      <li>E-mail: info@webvibes.hu</li>
      <li>Telefonszám: +36 20 292 8384</li>
    </ul>
    <h1>Webtárhely szolgáltató</h1>
    <ul>
      <li>Tárhely szolgáltató neve: DiMa.hu Kft.</li>
      <li>
        Tárhely szolgáltató elérhetősége: 4032 Debrecen, Békessy Béla u. 9. C.
        épület 3. emelet 10. ajtó
      </li>
      <li>E-mail: info@dima.hu</li>
    </ul>
  </div>
</section>
<app-contact></app-contact>
<app-footer></app-footer>
