section {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 50px 0;
}
section > div {
  margin: 30px 50px;
  width: 100%;
  max-width: 1270px;
}

.gyik-header {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#expansion-panel {
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(31, 45, 61, 0.125);
}

#expansion-panel p {
  color: #727272;
}

/* 960 pixel alatt */
@media only screen and (max-width: 960px) {
  section > div {
    width: 100%;
    max-width: calc(100% - 200px);
    padding: 0 auto;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: initial;
    background-image: initial;
  }
  .gyik-header {
    margin-bottom: 30px;
  }
  #gyik > div {
    margin-bottom: 10px;
  }
  #expansion-panel {
    margin-top: 10px;
  }
}

/* 600 pixel alatt */
@media only screen and (max-width: 600px) {
  section > div {
    width: 100%;
    max-width: calc(100% - 50px);
  }
}
