<section>
  <div id="gyik">
    <h1 fadeIn class="gyik-header">Gyakori kérdések</h1>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="{{ mobileQuery.matches ? '10px' : '20px' }}"
      fxLayoutAlign="center stretch"
    >
      <div fadeIn fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <mat-accordion id="accordion">
          <mat-expansion-panel id="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title> Szükséges előleget fizetni? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              A kérdőív kitöltését és az egyeztetést követően a projekt teljes
              díjjának 30%-át, a fennmaradó 70%-ot az átadást megelőzően kell
              majd kifizetned.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div fadeIn fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <mat-accordion>
          <mat-expansion-panel id="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Milyen technológiákkal dolgozunk?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Minden esetben az elvégzendő feladat komplexitásának függvényében
              kerülnek meghatározásra a használt technólógiák. Designhoz többek
              között az Adobe termékcsalád szoftvereit használjuk (Figma,
              Illustrator, Photoshop). Egyedi weboldal készítéshez HTML, CSS és
              Javascript, blogokhoz WordPress-t. Webshopokhoz Unas, WooCommerce,
              Shoprenter motorok kezelésében vagyunk jártasak.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="{{ mobileQuery.matches ? '10px' : '20px' }}"
      fxLayoutAlign="center stretch"
    >
      <div fadeIn fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <mat-accordion id="accordion">
          <mat-expansion-panel id="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Mennyi ideig tart egy munkát elkészíteni?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Ez függ az aloldalak számától, hogy rendelkezel e már a
              weboldalhoz szükséges szöveges és képi anyagokkal. Az árajánlat
              mellé a munka határidejét is mellékeljük.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div fadeIn fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <mat-accordion id="accordion">
          <mat-expansion-panel id="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ügyfélként van teendőm a folyamat során?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Te feladatod, hogy biztosítsd a szöveges és képi tartalmakat,
              valamint fontos, hogy folyamatos visszajelzéseket adj, hogy minél
              hatékonyabban tudjunk haladni.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</section>
