<section id="blog-post">
  <div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="25px"
    fxLayoutAlign="center stretch"
  >
    <div
      fxFlex="66.6"
      fxFlex.sm="100"
      fxFlex.xs="100"
      class="post-left"
      [innerHtml]="blogContent"
    ></div>
    <div fxFlex="33.3" fxFlex.sm="100" fxFlex.xs="100" class="post-right">
      <div class="container-sm">
        <div class="subscribe-container">
          <h3>Iratkozz fel!</h3>
          <p>
            Iratkozz fel, hogy elsőként értesülj minden aktualitásunkról és új
            blog bejegyzésünkről.
          </p>
          <input
            type="email"
            class="subscribe-form-control"
            id="email"
            value=""
            placeholder="E-mail"
            required
          />
          <div class="invalid-feedback">Érvényes email címet adj meg.</div>
          <span
            ><p>
              Az űrlap kitöltésével elfogadod az Adatvédelmi Feltételeket.
            </p></span
          >
          <div class="blog-btn">
            <button type="submit" class="btn btn-primary">Feliratkozom</button>
          </div>
        </div>

        <div class="segedlet">
          <h3>Ingyenes tárhely segédlet</h3>
          <ul>
            <li>Mi az a domain és hogyan épül fel?</li>
            <li>Mekkora tárhelyre van szükséged?</li>
            <li>Hogyan bérelj tárhelyet?</li>
            <li>
              Milyen faktorokat vegyél figyelembe, amikor kiválasztod a
              tárhelyet?
            </li>
          </ul>
          <div class="blog-button-container">
            <button
              id="blog-button"
              href="tarhely-segedlet.html"
              mat-raised-button
              color="primary"
            >
              Kérem
            </button>
          </div>
        </div>
        <div class="side-blog">
          <a href="https://www.instagram.com/webvibescreatives/">
            <div class="follow">
              <img src="/assets/img/kovess-instagram.webp" />
            </div>
            <h3>Kövess be instán is</h3>
            <p>
              Az Instán olyan egyedi tartalmak is felkerülnek, amelyekkel itt a
              weboldalon nem találkozhatsz. Kövess be:
              <span>@webvibescreatives</span>
            </p>
          </a>
        </div>
        <div class="side-blog">
          <h3>Nézd meg további bejegyzéseinket is</h3>
          <a routerLink="/blog/{{ randomBlogPost?.slug }}">
            <div class="blog-grid">
              <div class="blog-img">
                <img
                  class="blog-banner"
                  src="{{ randomBlogPost?.thumbnale }}"
                  alt="mi az a brief?"
                />
              </div>

              <div class="blog-date">
                <p>{{ randomBlogPost?.date }}</p>
              </div>
              <h5>{{ randomBlogPost?.title }}</h5>
              <div class="blog-card-header">
                <img
                  src="/assets/img/date.svg"
                  class="blog-card-img"
                  alt="óra"
                />
                <div class="blog-card-title">
                  <p>{{ randomBlogPost?.readMinutes }} perc</p>
                </div>
              </div>
            </div>
          </a>
          <div class="blog-button-container">
            <button
              id="blog-button"
              routerLink="/blog"
              mat-raised-button
              color="primary"
            >
              Összes megtekintése
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
