<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
/>
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <img
      class="toolbar-logo"
      src="assets/img/webvibeslogo.svg"
      alt="Web Vibes logó"
      routerLink="/"
    />
    <span class="example-spacer"></span>
    <button
      id="menu-button"
      mat-button
      [matMenuTriggerFor]="menu"
      *ngIf="!mobileQuery.matches"
    >
      Szolgáltatásaink
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="webdesign">
        Webdesign és webfejlesztés
      </button>
      <button mat-menu-item routerLink="logo">Logó és arculat tervezés</button>
      <button mat-menu-item routerLink="webshop">Webshop készítés</button>
    </mat-menu>
    <button
      id="menu-button"
      routerLink="/"
      mat-button
      *ngIf="!mobileQuery.matches"
    >
      Ingyenes segédlet
    </button>
    <button
      id="menu-button"
      routerLink="/blog"
      mat-button
      *ngIf="!mobileQuery.matches"
    >
      Blog
    </button>
    <button
      class="primary-button"
      routerLink="/contact"
      mat-raised-button
      color="primary"
      *ngIf="!mobileQuery.matches"
    >
      Ajánlatkérés
    </button>
    <button
      mat-icon-button
      (click)="snav.toggle()"
      [ngStyle]="{ display: mobileQuery.matches ? 'block' : 'none' }"
      [class.menu-hamburger-mobile]="mobileQuery.matches"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      position="end"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="webdesign">Webdesign és webfejlesztés</a>
        <a mat-list-item routerLink="logo">Logó és arculat tervezés</a>
        <a mat-list-item routerLink="webshop">Webshop készítés</a>
        <a mat-list-item routerLink="blog">Blog</a>
        <a mat-list-item routerLink="contact">Ajánlatkérés</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div [@routeAnimations]="getRouteAnimationData()">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
