#adatkezelesi-tajekoztato h1 {
  margin-top: 50px;
}
section {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 50px 0;
}
section > div {
  margin: 30px 50px;
  width: 100%;
  max-width: 1270px;
}
