<section id="blog">
  <div>
    <h1 fadeIn class="blog-title">Blog</h1>
    <div
      *ngFor="let i of threePostsCount"
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="25px"
      fxLayoutAlign="center stretch"
    >
      <div
        *ngFor="let blogPost of blogPosts | slice : i * 3 : (i + 1) * 3"
        fadeIn
        fxFlex="33.3"
        fxFlex.sm="100"
        fxFlex.xs="100"
      >
        <a routerLink="/blog/{{ blogPost.slug }}">
          <div class="blog-grid">
            <div class="blog-img">
              <img
                class="blog-banner"
                src="{{ blogPost.thumbnale }}"
                alt="mi az a brief?"
              />
            </div>
            <div class="blog-info">
              <div class="blog-date">
                <p>{{ blogPost.date }}</p>
              </div>
              <h5>{{ blogPost.title }}</h5>
              <div class="blog-card-header">
                <img
                  src="assets/img/date.svg"
                  class="blog-card-img"
                  alt="óra"
                />
                <div class="blog-card-title">
                  <p>{{ blogPost.readMinutes }} perc</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<app-contact></app-contact>
<app-footer></app-footer>
