<!-- Banner -->
<section id="service-container">
  <div id="service">
    <h1 fadeIn>Webshop készítés</h1>
    <p fadeIn>
      Legyen egyszerűen kezelhető, hatékony webshopod, mely támogatja bevételeid
      növekedését! Webshopod megjelenését olyanra szabjuk, hogy a legszebb és
      leghatékonyabb módon mutathasd meg a termékeidet, emellett pedig a
      felhasználói élmény is tökéletes legyen.
    </p>
    <div fadeIn>
      <button
        class="primary-button"
        routerLink="/contact"
        mat-raised-button
        color="primary"
      >
        Csináljuk
      </button>
    </div>
  </div>
</section>

<!-- így zajlik a munka folyamata -->
<section id="work-container">
  <div id="work">
    <h1 fadeIn>Így zajlik a munka folyamata</h1>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="25px"
      fxLayoutAlign="center stretch"
    >
      <div
        fadeIn
        fxFlex="33.3"
        fxFlex.sm="100"
        fxFlex.xs="100"
        class="work-col"
      >
        <div class="work-card">
          <div class="work-card-header">
            <img
              src="assets/img/ikgeny-felmeresfekete.svg"
              class="work-card-img"
              alt="Igény felmérés"
            />
            <div class="work-card-title">
              <h3>Igény felmérés</h3>
            </div>
          </div>
          <div class="work-card-description">
            <p>
              Felmérjük a webshopod célját, igényeidet és hogy milyen értékeket
              képvisel a céged. Itt azonosítjuk a célcsoportodat, az aktuális
              piaci helyzetet, illetve hogy hol tart most a márkád és hova akar
              eljutni a következő években. Ezekre a kérdésekre adott válaszokból
              fog megszületni egy brief.
            </p>
          </div>
        </div>
      </div>
      <div
        fadeIn
        fxFlex="33.3"
        fxFlex.sm="100"
        fxFlex.xs="100"
        class="work-col"
      >
        <div class="work-card">
          <div class="work-card-header">
            <img
              src="assets/img/tervezesfekete.svg"
              class="work-card-img"
              alt="Tervek elkészítése"
            />
            <div class="work-card-title">
              <h3>Tervek elkészítése</h3>
            </div>
          </div>
          <div class="work-card-description">
            <p>
              Moodboard segítségével a színvilágot és a stílust meghatározzuk,
              majd drótvázakat készítünk, hogy lásd, hogyan fognak elhelyezkedni
              az oldalon a tartalmak. Miután ezeket jóváhagytad, elkészítjük a
              design terveket, amiket az igényeid szerint módosítunk, hogy a
              végeredménnyel teljesen azonosulni tudj.
            </p>
          </div>
        </div>
      </div>
      <div
        fadeIn
        fxFlex="33.3"
        fxFlex.sm="100"
        fxFlex.xs="100"
        class="work-col"
      >
        <div class="work-card">
          <div class="work-card-header">
            <img
              src="assets/img/megvalositasfekete.svg"
              class="work-card-img"
              alt="Megvalósítás"
            />
            <div class="work-card-title">
              <h3>Megvalósítás</h3>
            </div>
          </div>
          <div class="work-card-description">
            <p>
              Miután elfogadtad a terveket, elkezdjük a weboldalad fejlesztését
              pixelpontos megvalósítással, precízen kidolgozott
              reszponzivitással. Átadást megelőzően a weboldal tesztelésen esik
              át, a teljesség igénye nélkül szem előtt tartva a reszponzivitást,
              az oldal betöltési sebesség is, funkciókat, linkeket és így
              tovább. Az átadást követően a felmerülő hibákat 3 hétig ingyenesen
              javítjuk.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Ajánlat -->
<section id="offer-container">
  <div id="offer">
    <h1 fadeIn>Mit adunk neked?</h1>
    <ul>
      <li>
        <div fadeIn class="list-element">
          <img class="list-img" src="assets/img/correct.svg" alt="pipa" />
          <span class="list-name"
            >Segítünk felderíteni a saját hiteles hangodat, történetedet és
            értékeiket, ezeket pedig bemutatjuk egy egységes vizuális
            megjelenéssel.
          </span>
        </div>
      </li>
      <li>
        <div fadeIn class="list-element">
          <img class="list-img" src="assets/img/correct.svg" alt="pipa" />
          <span class="list-name"
            >Hatékony projektmenedzsment rendszerben dolgozunk, amin keresztül
            tudjuk kezelni a projekted az igényeidnek és határidőknek
            megfelelően.</span
          >
        </div>
      </li>
      <li>
        <div fadeIn class="list-element">
          <img class="list-img" src="assets/img/correct.svg" alt="pipa" />
          <span class="list-name"
            >Modern, letisztult és reszponzív remegjelenést kapsz, egyedi és
            kreatív megoldásokkal..</span
          >
        </div>
      </li>
      <li>
        <div fadeIn class="list-element">
          <img class="list-img" src="assets/img/correct.svg" alt="pipa" />
          <span class="list-name"
            >Szállítási és fizetési módok beállítása.</span
          >
        </div>
      </li>
      <li>
        <div fadeIn class="list-element">
          <img class="list-img" src="assets/img/correct.svg" alt="pipa" />
          <span class="list-name">Integráció - Számlázás - Szállítás</span>
        </div>
      </li>

      <li>
        <div fadeIn class="list-element">
          <img class="list-img" src="assets/img/correct.svg" alt="pipa" />
          <span class="list-name">Fizetési módok beállítása</span>
        </div>
      </li>

      <li>
        <div fadeIn class="list-element">
          <img class="list-img" src="assets/img/correct.svg" alt="pipa" />
          <span class="list-name">Google Analytics, Cookiebot bekötése</span>
        </div>
      </li>

      <li>
        <div fadeIn class="list-element">
          <img class="list-img" src="assets/img/correct.svg" alt="pipa" />
          <span class="list-name"
            >Könnyen kezelhető adminisztrációs felület</span
          >
        </div>
      </li>

      <li>
        <div fadeIn class="list-element">
          <img class="list-img" src="assets/img/correct.svg" alt="pipa" />
          <span class="list-name"
            >A webshop átadása után is támogatunk és segítségedre leszünk.</span
          >
        </div>
      </li>
    </ul>

    <h1 fadeIn style="margin-top: 50px">Kinek ajánljuk?</h1>
    <ul>
      <li>
        <div fadeIn class="list-element">
          <img class="list-img" src="assets/img/correct.svg" alt="pipa" />
          <span class="list-name">
            Tisztában vagy azzal mik a vállalkozásod céljai, kiket célzol az
            online jelenléteddel és a weboldaladdal szeretnél szintet lépni.
          </span>
        </div>
      </li>
      <li>
        <div fadeIn class="list-element">
          <img class="list-img" src="assets/img/correct.svg" alt="pipa" />
          <span class="list-name">
            Tudod, hogy mit szeretnél, ugyanakkor nyitott vagy az észrevételekre
            és a javaslatokra a profi végeredmény érdekében.
          </span>
        </div>
      </li>
      <li>
        <div fadeIn class="list-element">
          <img class="list-img" src="assets/img/correct.svg" alt="pipa" />
          <span class="list-name">
            Rendelkezel saját termékkel, márkával, szolgáltatással és szeretnél
            több eladást, feliratkozást generálni
          </span>
        </div>
      </li>
    </ul>
    <div fadeIn>
      <button
        class="primary-button"
        routerLink="/contact"
        mat-raised-button
        color="primary"
      >
        Csináljuk
      </button>
    </div>
  </div>
</section>
<!-- GYIK -->
<app-gyik></app-gyik>
<app-contact></app-contact>
<app-footer></app-footer>
