// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$indigo-palette: (
  50: #eeebfa,
  100: #d4ccf2,
  200: #b8aae9,
  300: #9b88e0,
  400: #856fd9,
  500: #7055d2,
  600: #684ecd,
  700: #5d44c7,
  800: #533bc1,
  900: #412ab6,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
  ),
);

$webvibes-angular-primary: mat.define-palette($indigo-palette);
$webvibes-angular-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$webvibes-angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$webvibes-angular-theme: mat.define-light-theme(
  (
    color: (
      primary: $webvibes-angular-primary,
      accent: $webvibes-angular-accent,
      warn: $webvibes-angular-warn,
    ),
  )
);

$webvibes-angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $webvibes-angular-primary,
      accent: $webvibes-angular-accent,
      warn: $webvibes-angular-warn,
    ),
  )
);

// had to use dark theme at form field and checkbox bc of visibility
@include mat.all-component-themes($webvibes-angular-theme);
@include mat.form-field-theme($webvibes-angular-dark-theme);
@include mat.checkbox-theme($webvibes-angular-dark-theme);
@include mat.select-theme($webvibes-angular-dark-theme);
@include mat.core-theme($webvibes-angular-dark-theme);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

// headline-1	One-off header, usually at the top of the page (e.g. a hero header).
// headline-2	One-off header, usually at the top of the page (e.g. a hero header).
// headline-3	One-off header, usually at the top of the page (e.g. a hero header).
// headline-4	One-off header, usually at the top of the page (e.g. a hero header).
// headline-5	Section heading corresponding to the <h1> tag.
// headline-6	Section heading corresponding to the <h2> tag.
// subtitle-1	Section heading corresponding to the <h3> tag.
// subtitle-2	Section heading corresponding to the <h4> tag.
// body-1	Base body text.
// body-2	Secondary body text.
// caption	Smaller body and hint text.
// button	Buttons and anchors.

$typography-config-mobile: mat.define-typography-config(
  $font-family: '"Fira Sans", sans-serif',
  $headline-1:
    mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2:
    mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3:
    mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(50px, 50px, 700, 1, -0.01em),
  $headline-6: mat.define-typography-level(40px, 40px, 700),
  $subtitle-1: mat.define-typography-level(36px, 36px, 700),
  $subtitle-2: mat.define-typography-level(32px, 32px, 600),
  $body-1: mat.define-typography-level(16px, 24px, 400),
  $body-2: mat.define-typography-level(16px, 24px, 400),
  $caption: mat.define-typography-level(16px, 24px, 400),
  $button: mat.define-typography-level(16px, 24px, 400),
);

$typography-config-desktop: mat.define-typography-config(
  $font-family: '"Fira Sans", sans-serif',
  $headline-1:
    mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2:
    mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3:
    mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5:
    mat.define-typography-level(50px, 50px, 700, $letter-spacing: -0.01em),
  $headline-6: mat.define-typography-level(40px, 40px, 700),
  $subtitle-1: mat.define-typography-level(36px, 36px, 700),
  $subtitle-2: mat.define-typography-level(32px, 32px, 600),
  $body-1: mat.define-typography-level(16px, 24px, 400),
  $body-2: mat.define-typography-level(16px, 24px, 400),
  $caption: mat.define-typography-level(16px, 24px, 400),
  $button: mat.define-typography-level(16px, 24px, 400),
);

@media only screen and (max-width: 768px) {
  @include mat.typography-hierarchy($typography-config-mobile);
}

@media only screen and (min-width: 769px) {
  @include mat.typography-hierarchy($typography-config-desktop);
}

.mat-mdc-snack-bar-container {
  &.my-custom-snackbar {
    --mdc-snackbar-container-color: white;
    // --mat-mdc-snack-bar-button-color: #856fd9;
    --mdc-snackbar-supporting-text-color: #313131;
  }
}
