/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
}

section {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 50px 0;
}
section > div {
  margin: 30px 50px;
  width: 100%;
  max-width: 1270px;
}

/* 960 pixel alatt */
@media only screen and (max-width: 960px) {
  section > div {
    width: 100%;
    max-width: calc(100% - 200px);
    padding: 0 auto;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: initial;
    background-image: initial;
  }
}

/* 600 pixel alatt */
@media only screen and (max-width: 600px) {
  section > div {
    width: 100%;
    max-width: calc(100% - 50px);
    padding: 0 auto;
  }
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: #313131;
}
h1,
h2 {
  font-size: 50px;
  font-weight: 700;
  color: #313131;
}
p {
  color: #727272;
}
h3 {
  font-size: 35px;
}
h4 {
  font-size: 26px;
}
@media only screen and (max-width: 1090px) {
  h1,
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

.my-custom-snackbar {
  margin: 0 !important;
  position: fixed !important;
  bottom: 20px !important;
  border-radius: 30px !important;
}

.my-custom-snackbar button {
  background-color: #7055d2 !important;
  color: white !important;
  border-radius: 20px !important;
  padding: 20px 25px !important;
}
.my-custom-snackbar > div {
  border-radius: 20px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.contact-success-snackbar,
.contact-error-snackbar {
  margin: 0 !important;
  position: fixed !important;
  top: 25px !important;
  border-radius: 30px !important;
  color: white !important;
}

.contact-success-snackbar > div,
.contact-error-snackbar > div {
  border-radius: 20px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  position: fixed !important;
  top: 50px !important;
}
#menu-button {
  color: #565656;
}
#menu-button:hover {
  color: #7055d2;
}
button {
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  box-shadow: none !important;
}
/* mat-toolbar {
  background: white !important;
} */

.primary-button {
  border-radius: 30px !important;
  padding: 10px 25px !important;
  transition: all 0.3s ease-in-out !important;
  font-weight: 600 !important;
  margin-right: 10px !important;
  height: 46px !important;
}
.primary-button:hover {
  transition: all 0.3s ease-in-out !important;
  padding: 10px 30px !important;
  margin-right: 0 !important;
}

.not-visible {
  opacity: 0.2;
  transition: all 0.8s ease-in;
  transform: translateY(2px);
  -ms-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}

.visible {
  opacity: 1;
  transition: all 0.8s ease-in;
  transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
