<!-- Banner -->
<section id="hero-container">
  <div class="hero">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
      <div
        fxLayout="column"
        fxLayoutAlign="center"
        fxFlex="70"
        fxFlex.sm="100"
        fxFlex.xs="100"
      >
        <h1>Legyen kreatív, egyedi weboldalad neked is</h1>
        <p>
          Lépj magasabb szintre a vállalkozásodra szabott innovatív
          megoldásokkal.
        </p>
        <div>
          <button
            class="primary-button"
            routerLink="/contact"
            mat-raised-button
            color="primary"
          >
            Csináljuk
          </button>
        </div>
      </div>
      <div
        fxFlex="30"
        fxFlex.sm="100"
        fxFlex.xs="100"
        class="hero-image-container"
      >
        <img
          class="hero-image"
          src="assets/img/heronoise.webp"
          alt="főoldali banner kép"
        />
      </div>
    </div>
  </div>
</section>

<!-- Szolgáltatások -->
<section id="services-container">
  <div class="services">
    <h1 class="services-header">Ezekben tudunk neked segíteni</h1>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="25px"
      fxLayoutAlign="center stretch"
    >
      <div fxFlex="33.3" fxFlex.sm="100" fxFlex.xs="100" class="services-col">
        <a routerLink="/logo">
          <div class="services-card">
            <div class="services-card-header">
              <img
                src="assets/img/services-logo.webp"
                class="services-card-img"
                alt="Logó és arculat tervezés"
              />
              <div class="services-card-title">
                <h3>Logó és arculat tervezés</h3>
              </div>
            </div>
            <div class="services-card-description">
              <p>
                Tűnj ki személyre szabott arculati elemekkel a versenytársak
                közül. Professzionális megoldásokkal és egységes megjelenéssel
                hozzájárulunk a vállalkozásod fejlődéséhez.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div fxFlex="33.3" fxFlex.sm="100" fxFlex.xs="100" class="services-col">
        <a routerLink="/webdesign">
          <div class="services-card">
            <div class="services-card-header">
              <img
                src="assets/img/services-webdesign.webp"
                class="services-card-img"
                alt="Webdesign & webfejlesztés"
              />
              <div class="services-card-title">
                <h3>Webdesign & webfejlesztés</h3>
              </div>
            </div>
            <div class="services-card-description">
              <p>
                Felmért igényeid alapján modern és felhasználóbarát weboldalt
                tervezünk a vállalkozásodnak, amely tökéletesen illeszkedik a
                már meglévő vagy új arculatodhoz.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div fxFlex="33.3" fxFlex.sm="100" fxFlex.xs="100" class="services-col">
        <a routerLink="/webshop">
          <div class="services-card">
            <div class="services-card-header">
              <img
                src="assets/img/services-webshop.webp"
                class="services-card-img"
                alt="Webshop készítés"
              />
              <div class="services-card-title">
                <h3>Webshop készítés</h3>
              </div>
            </div>
            <div class="services-card-description">
              <p>
                Egy hatékony és egyszerűen kezelhető webáruházzal új vásárlókat
                érhetsz el. Személyre szabott megjelenést biztosítunk a
                webshopodnak, mely támogatja bevételeid növekedését!
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Banner -->
<section>
  <div id="business">
    <div class="business">
      <div
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutGap="25px"
        fxLayoutAlign="center stretch"
      >
        <div
          class="business-text-container"
          fxLayout="column"
          fxLayoutAlign="center stretch"
          fxFlex="50"
          fxFlex.sm="100"
          fxFlex.xs="100"
        >
          <h1>Segítünk kiemelni a vállalkozásodat</h1>
          <p>
            A művészet és technológia ötvözésével kiváló webes megoldásokat
            készítünk. Arra törekszünk, hogy megjelenésed érthető, őszinte és
            egyedi legyen.
          </p>
          <div>
            <button
              class="primary-button"
              routerLink="/contact"
              mat-raised-button
              color="primary"
            >
              Csináljuk
            </button>
          </div>
        </div>
        <div
          class="business-image-container"
          fxFlex="50"
          fxFlex.sm="100"
          fxFlex.xs="100"
        >
          <img
            class="business-image"
            src="assets/img/business.webp"
            alt="művészet és technológia illusztráció"
          />
          <img
            class="rocket-image"
            src="assets/img/rocket.svg"
            alt="rakéta illusztráció"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- így zajlik a munka folyamata -->
<section id="work-container">
  <div class="work">
    <h1 class="work-header">Így zajlik a munka folyamata</h1>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="25px"
      fxLayoutAlign="center stretch"
    >
      <div fxFlex="33.3" fxFlex.sm="100" fxFlex.xs="100">
        <div class="work-card">
          <div class="work-card-header">
            <img
              src="assets/img/igeny-felmeres.svg"
              class="work-card-img"
              alt="Igény felmérés"
            />
            <div class="work-card-title">
              <h3>Igény felmérés</h3>
            </div>
          </div>
          <div class="work-card-description">
            <p>
              Felmérjük a vállalkozásod múltját, jelenét és vízióját,
              felderítjük az értékeidet, célközönségedet, versenytársaidat. Ez
              lesz a tervezési folyamat alapja.
            </p>
          </div>
        </div>
      </div>
      <div fxFlex="33.3" fxFlex.sm="100" fxFlex.xs="100">
        <div class="work-card">
          <div class="work-card-header">
            <img
              src="assets/img/tervezes.svg"
              class="work-card-img"
              alt="Tervek elkészítése"
            />
            <div class="work-card-title">
              <h3>Tervek elkészítése</h3>
            </div>
          </div>
          <div class="work-card-description">
            <p>
              Látványtervek segítségével bemutatjuk a fő grafikai irányt, amit
              az igényeid szerint módosítunk, hogy a végeredménnyel teljesen
              azonosulni tudj. Az átbeszélt módosítások után kidolgozzuk a
              végleges terveket, amik alapján fejlesztünk.
            </p>
          </div>
        </div>
      </div>
      <div fxFlex="33.3" fxFlex.sm="100" fxFlex.xs="100">
        <div class="work-card">
          <div class="work-card-header">
            <img
              src="assets/img/megvalositas.svg"
              class="work-card-img"
              alt="Megvalósítás"
            />
            <div class="work-card-title">
              <h3>Megvalósítás</h3>
            </div>
          </div>
          <div class="work-card-description">
            <p>
              Miután elfogadtad a terveket, elkezdjük a weboldalad fejlesztését
              pixelpontos megvalósítással, precízen kidolgozott
              reszponzivitással.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Munkáink -->
<section class="gallery">
  <div id="gallery">
    <h1 class="gallery-header">Eddigi munkáink</h1>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="25px"
      fxLayoutAlign="center stretch"
    >
      <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="gallery-image">
        <img
          src="assets/img/zen-sushi.webp"
          class="gallery-item"
          alt="pékség weboldal"
        />
      </div>

      <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="gallery-image">
        <img
          src="assets/img/alison.webp"
          class="gallery-item"
          alt="pékség weboldal"
        />
      </div>

      <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="gallery-image">
        <img
          src="assets/img/pekseg.webp"
          class="gallery-item"
          alt="pékség weboldal"
        />
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="25px"
      fxLayoutAlign="center stretch"
    >
      <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="gallery-image">
        <img
          src="assets/img/pizzeria.webp"
          class="gallery-item"
          alt="pizzéria weboldal"
        />
      </div>
      <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="gallery-image">
        <img
          src="assets/img/arculatdesign.webp"
          class="gallery-item"
          alt="arculat és design terv"
        />
      </div>
      <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="gallery-image">
        <img
          src="assets/img/instagram-post.webp"
          class="gallery-item"
          alt="instagram poszt terv"
        />
      </div>
    </div>
    <div class="gallery-btn">
      <button
        class="primary-button"
        routerLink="/referenciak"
        mat-raised-button
        color="primary"
      >
        Továbbiak megtekintése
      </button>
    </div>
  </div>
</section>

<!-- Kinek ajánljuk -->
<section id="offer-container">
  <div class="offer">
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="25px"
      fxLayoutAlign="center stretch"
    >
      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="offer-card-title">
        <div class="offer-text">
          <h1>Kinek ajánljuk?</h1>
        </div>
      </div>
      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <div class="offer-card">
          <div class="offer-card-header">
            <img
              src="assets/img/cel.webp"
              class="offer-card-img"
              alt="Logó és arculat tervezés"
            />
            <div class="offer-card-text">
              <p>
                Tisztában vagy a vállalkozásod céljaival, kiket célzol az online
                jelenléteddel és szeretnél szintet lépni.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="25px"
      fxLayoutAlign="center stretch"
    >
      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <div class="offer-card">
          <div class="offer-card-header">
            <img
              src="assets/img/otlet.webp"
              class="offer-card-img"
              alt="Logó és arculat tervezés"
            />
            <div class="offer-card-text">
              <p>
                Tudod, hogy mit szeretnél, ugyanakkor nyitott vagy az
                észrevételekre és a javaslatokra a profi végeredmény érdekében.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <div class="offer-card">
          <div class="offer-card-header">
            <img
              src="assets/img/vallalkozas-fejlesztes.webp"
              class="offer-card-img"
              alt="Logó és arculat tervezés"
            />
            <div class="offer-card-text">
              <p>
                Rendelkezel saját termékkel, márkával, szolgáltatással és
                szeretnél több eladást, feliratkozást generálni
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- GYIK -->
<section>
  <div id="gyik">
    <h1 class="gyik-header">Gyakori kérdések</h1>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="20px"
      fxLayoutAlign="center stretch"
    >
      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <details>
          <summary>Szükséges előleget fizetni?</summary>
          <p>
            A kérdőív kitöltését és az egyeztetést követően a projekt teljes
            díjjának 30%-át, a fennmaradó 70%-ot az átadást megelőzően kell majd
            kifizetned.
          </p>
        </details>
      </div>
      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <details>
          <summary>Milyen technológiákkal dolgozunk?</summary>
          <p>
            Minden esetben az elvégzendő feladat komplexitásának függvényében
            kerülnek meghatározásra a használt technólógiák. Designhoz többek
            között az Adobe termékcsalád szoftvereit használjuk (Figma,
            Illustrator, Photoshop). Egyedi weboldal készítéshez HTML, CSS és
            Javascript, blogokhoz WordPress-t. Webshopokhoz Unas, WooCommerce,
            Shoprenter motorok kezelésében vagyunk jártasak.
          </p>
        </details>
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="20px"
      fxLayoutAlign="center stretch"
    >
      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <details>
          <summary>Mennyi ideig tart egy munkát elkészíteni?</summary>
          <p>
            Ez függ az aloldalak számától, hogy rendelkezel e már a weboldalhoz
            szükséges szöveges és képi anyagokkal. Az árajánlat mellé a munka
            határidejét is mellékeljük.
          </p>
        </details>
      </div>
      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <details>
          <summary>Ügyfélként van teendőm a folyamat során?</summary>
          <p>
            Te feladatod, hogy biztosítsd a szöveges és képi tartalmakat,
            valamint fontos, hogy folyamatos visszajelzéseket adj, hogy minél
            hatékonyabban tudjunk haladni.
          </p>
        </details>
      </div>
    </div>
  </div>
</section>
<!-- Blog -->
<section>
  <div class="blog">
    <h1 class="blog-header">Blog</h1>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="25px"
      fxLayoutAlign="center stretch"
    >
      <div fxFlex="33.3" fxFlex.sm="100" fxFlex.xs="100">
        <a routerLink="/">
          <div class="blog-grid">
            <div class="blog-img">
              <img
                class="blog-banner"
                src="assets/img/hogyan-kerj-arajanlatot.webp"
                alt="Hogyan kérj árajánlatot?"
              />
            </div>
            <div class="blog-info">
              <div class="blog-date">
                <p>2023.01.16.</p>
              </div>
              <h5>Hogyan kérj árajánlatot?</h5>
              <div class="blog-card-header">
                <img
                  src="assets/img/date.svg"
                  class="blog-card-img"
                  alt="óra"
                />
                <div>
                  <p>2 perc</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div fxFlex="33.3" fxFlex.sm="100" fxFlex.xs="100">
        <a routerLink="/">
          <div class="blog-grid">
            <div class="blog-img">
              <img
                class="blog-banner"
                src="assets/img/weboldal-befektetes.webp"
                alt="Miért jó befektetés egy weboldal?"
              />
            </div>
            <div class="blog-info">
              <div class="blog-date">
                <p>2023.01.10.</p>
              </div>
              <h5>Miért jó befektetés egy weboldal?</h5>
              <div class="blog-card-header">
                <img
                  src="assets/img/date.svg"
                  class="blog-card-img"
                  alt="óra"
                />
                <div>
                  <p>3 perc</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div fxFlex="33.3" fxFlex.sm="100" fxFlex.xs="100">
        <a routerLink="/">
          <div class="blog-grid">
            <div class="blog-img">
              <img
                class="blog-banner"
                src="assets/img/igy-keszul-el-egy-weboldal.webp"
                alt="Weboldal elkészítése lépésről lépésre"
              />
            </div>
            <div class="blog-info">
              <div class="blog-date">
                <p>2023.01.05.</p>
              </div>
              <h5>Így készül egy weboldal</h5>
              <div class="blog-card-header">
                <img
                  src="assets/img/date.svg"
                  class="blog-card-img"
                  alt="óra"
                />
                <div>
                  <p>5 perc</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="blog-btn">
      <button
        class="primary-button"
        routerLink="/blog"
        mat-raised-button
        color="primary"
      >
        További bejegyzések
      </button>
    </div>
  </div>
</section>
<app-contact></app-contact>
<app-footer></app-footer>
