section {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 50px 0;
}
section > div {
  margin: 30px 50px;
  width: 100%;
  max-width: 1270px;
}
button {
  font-size: 16px !important;
}
.primary-button {
  border-radius: 30px;
  padding: 10px 25px;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  margin-right: 10px;
  margin-top: 25px;
  height: 46px;
}
.primary-button:hover {
  transition: all 0.3s ease-in-out;
  padding: 10px 30px;
  margin-right: 0;
}

/* Banner */
.hero-image-container {
  padding-left: 0;
  padding-right: 5%;
}
#hero-container {
  position: relative;
  background-color: inherit;
  background-image: none;
}
.hero {
  position: relative;
  padding: 50px 50px 50px 80px;
  background-color: #1f1f1f;
  box-shadow: 0px 10px 40px #b3b3b3;
  border-radius: 90px;
  background-image: url("/assets/img/noise.webp"),
    radial-gradient(
      circle at 70% 50%,
      rgba(8, 206, 167, 0.4) 0,
      transparent 40%
    );
}
.hero-image {
  width: 100%;
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
}
.hero h1 {
  color: white;
  line-height: 1.2;
}
.hero p {
  color: #e6e6e6;
}
/* Banner */

/* Szolgáltatások */
.services-card-header {
  display: flex;
  flex-wrap: nowrap;
  max-height: 100px;
  padding: 20px;
}
#services .services-card-header {
  height: 100px;
  padding: 20px;
}
.services-card-title {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.services-card-title h3 {
  font-size: 1.3em;
  font-weight: 700;
  color: #313131;
  line-height: 1.2;
  margin: 0;
}
.services a {
  text-decoration: none;
}
.services-header {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.services-card-img {
  height: 100%;
  width: auto;
  margin: auto 0;
}
.services-card-description {
  padding: 0 20px 0 20px;
  color: #727272;
}
.services-card {
  padding: 5px;
  height: 100%;
  box-shadow: 0px 10px 30px rgba(123, 120, 120, 0.25);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.services-card:hover {
  box-shadow: 0px 2px 20px 5px rgba(146, 62, 255, 0.38);
  transition: all 0.3s ease-in-out;
}
.services-card-img {
  height: 40%;
  width: auto;
  margin: auto 0;
}
/* Szolgáltatások */

/* business */
.business-text-container {
  padding: 20px 0;
}
.business-image {
  width: 80%;
  float: right;
  position: relative;
  top: 0;
  right: 0;
}
.business-image-container {
  position: relative;
  top: 0;
  right: 0;
}
.rocket-image {
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
  position: absolute;
  top: 120px;
  right: 0px;
}
/* business */

/* munka folyamata */
#work-container {
  background-color: inherit;
}
.work {
  padding: 80px 50px;
  background-color: #242424;
  box-shadow: 0px 10px 40px #b3b3b3;
  border-radius: 70px;
  background-image: url("/assets/img/work-bg.webp");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.work-header {
  margin-bottom: 30px;
  text-align: center;
}
.work-card {
  padding: 20px;
  height: 100%;
  backdrop-filter: blur(4px);
  background: linear-gradient(270deg, rgb(138 138 138 / 6%) 0%, #303030 100%);
  border-radius: 21px;
  transition: background-color 1s;
}
.work-card:hover {
  background-color: rgba(38, 222, 179, 0.3);
}
.work-card-header {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 0;
}
.work-card-title {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.work-card-title h3 {
  font-size: 1.3em;
  font-weight: 700;
}
.work-card-title h3,
.work-card-description,
.work h1 {
  color: white;
}
.work-card-description p {
  color: #e6e6e6;
}
.work-card-description p {
  font-size: 1em;
  font-weight: 400;
}
.work-card-img {
  height: 40%;
  width: auto;
  margin: auto 0;
}
/* munka folyamata */

/* munkáink */
.gallery-image {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
}
.gallery-header {
  margin-bottom: 30px;
  text-align: center;
}
#gallery-page h1 {
  margin-top: 70px;
}
#gallery-page {
  margin-bottom: 100px;
}
.gallery-item {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(194, 194, 194, 0.25);
  height: 337px;
  object-fit: cover;
  object-position: 100% 0;

}

.gallery-image:hover .gallery-item,
.gallery-image:focus .gallery-item {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
#gallery-modal .modal-img {
  width: 100%;
}
.gallery-title {
  text-align: center;
}
.gallery-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.gallery-btn button {
  background-color: white;
  color: #7055d2;
  border: 2px solid #7055d2;
}
/* munkáink */

/* Kinek ajánljuk */
#offer-container {
  background-color: inherit;
}
.offer {
  padding: 80px 50px;
  background-color: #242424;
  box-shadow: 0px 10px 40px #b3b3b3;
  border-radius: 70px;
}
.offer > div {
  margin: 30px;
}
.offer-card {
  background: linear-gradient(270deg, rgba(71, 71, 71, 0.56) 0%, #171717 100%);
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 21px;
  height: 80%;
  transition: background-color 1s;
}
.offer-card:hover {
  background-color: #08cea7;
}
.offer-card-header {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
}
.offer-card-title {
  margin: auto;
}
.offer-card-text {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.offer-text {
  margin-top: auto;
  margin-bottom: auto;
}
.offer-text > h1 {
  text-align: center;
}
.offer-card-img {
  height: 40%;
  width: auto;
  margin: auto 0;
}
.offer h1,
.offer p {
  margin-bottom: 0;
  color: white;
}
/* Kinek ajánljuk */


/* blog */
.blog a {
  text-decoration: none;
}
.blog-header {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.blog-grid {
  margin: 15px 0;
}
.blog-img {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 30px rgb(31 45 61 / 13%);
  align-items: center;
}
.blog-banner {
  width: 100%;
  border-radius: 20px;
}
.blog-info {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 10px;
  background: #ffffff;
  padding: 20px;
  margin: -30px 20px 0;
  position: relative;
  height: 200px;
}
.blog-info:hover {
  box-shadow: 0px 2px 20px 5px rgba(146, 62, 255, 0.38);
  transition: all 0.3s ease-in-out;
}
.blog-info h5 {
  font-size: 22px;
  font-weight: 500;
  margin: 20px 10px;
  color: #313131;
}
.blog-info h5 a {
  color: #313131;
  text-decoration: none;
  font-weight: bold;
}
.blog-date {
  color: #979797;
  margin-left: 10px;
  padding-top: 10px;
  font-size: 14px;
}
.blog-card-header {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 10px;
}
.blog-card-header div p {
  margin: auto 10px;
}
.blog-info {
  text-decoration: none;
}
.blog-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.blog-btn button {
  background-color: white;
  color: #7055d2;
  border: 2px solid #7055d2;
}
/* blog */

/* 960 pixel alatt */
@media only screen and (max-width: 960px) {
  section > div {
    width: 100%;
    max-width: calc(100% - 200px);
    padding: 0 auto;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: initial;
    background-image: initial;
  }

  /* Banner */
  #hero-container {
    background-color: #1f1f1f;
    background-image: url("/assets/img/noise.webp"),
      radial-gradient(
        circle at 25% 60%,
        rgba(8, 206, 167, 0.4) 0,
        transparent 40%
      );
  }
  .hero {
    position: relative;
    padding: 50px 25px;
  }
  .hero-image-container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero-image {
    width: 100%;
  }
  /* Banner */

  /* Szolgáltatások */
  .services-header {
    margin-bottom: 30px;
  }
  #services-container h1 {
    margin-bottom: 10px;
  }
  .services .services-col {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* Szolgáltatások */

  /* business */
  .business-image {
    width: 100%;
  }
  /* business */

  /* munka folyamata */
  #work-container {
    background-color: #242424;
    background-image: url("/assets/img/work-bg.webp");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 50% 65%;
  }
  .work-image-container {
    padding-left: 40px;
    padding-right: 40px;
  }
  #work-container h1 {
    text-align: left;
  }
  #work-container {
    margin-bottom: 20px;
  }
  .work {
    padding: 0;
    background-color: inherit;
    box-shadow: none;
    border-radius: 0;
    background-image: none;
  }
  /* munka folyamata */

  /* munkáink */
  .gallery-header {
    margin-bottom: 30px;
    text-align: center;
  }
  /* munkáink */

  /* Kinek ajánljuk */
  .offer {
    padding: 0;
    background-color: inherit;
    box-shadow: none;
    border-radius: 0;
    background-image: none;
  }
  .offer-text > h1 {
    color: #242424;
  }
  /* Kinek ajánljuk */

  /* blog */

  /* blog */
}

/* 600 pixel alatt */
@media only screen and (max-width: 600px) {
  section > div {
    width: 100%;
    max-width: calc(100% - 50px);
  }
  /* Banner */
  #hero-container {
    padding-top: 50px;
  }
  .hero {
    position: relative;
    padding: 50px 25px;
  }
  /* Banner */
}
